# DataFrame


## Resumo

É como se fosse uma tabela.

- As colunas funcionam "como chaves de dicionário"
- As linhas funcionam "como listas"

## Funcionamento

Temos um dataframe chamado vendas_df

vendas_df['coluna_x'] -> uma lista com os valores da coluna_x (em formato dataframe, é um dataframe com 1 coluna só)
vendas_df[0] -> NÃO FUNCIONA ASSIM PARA DATAFRAMES
vendas_df[:3] -> pega até a linha de índice 3 do dataframe
vendas_df[['coluna_x', 'coluna_y', 'coluna_z']] -> cria um novo dataframe com as colunas coluna_x, coluna_y e coluna_z
vendas_df['coluna_x'][0] -> pega o itemd a 1ª linha da coluna coluna_x

- Vamos ler um arquivo real, com a Base de Dados de Vendas da Empresa "Contoso"

In [1]:
import pandas as pd

vendas_df = pd.read_csv(r'files/Contoso - Vendas  - 2017.csv', sep=';')

vendas_df

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1
...,...,...,...,...,...,...,...,...,...,...
980637,980638,31/12/2017,31/12/2017,0,194,2490,4,10353,120,0
980638,980639,31/12/2017,06/01/2018,6,32,2488,4,31750,120,0
980639,980640,31/12/2017,03/01/2018,3,210,2511,10,12003,80,0
980640,980641,31/12/2017,31/12/2017,0,53,436,4,25550,39,0
980641,980642,31/12/2017,31/12/2017,0,309,2510,10,28707,80,0

## Aplicação

- O 1º passo de toda Análise de Dados é você entender o que existe na sua base de dados

Usaremos o .info() para isso

In [2]:
vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980642 entries, 0 to 980641
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  object
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
dtypes: int64(8), object(2)
memory usage: 74.8+ MB

- Vamos criar então agora uma lista de Clientes

In [3]:
lista_clientes = vendas_df['ID Cliente']
lista_clientes

0          6825
1         18469
2         19730
3         29326
4         22617
          ...
980637    10353
980638    31750
980639    12003
980640    25550
980641    28707
Name: ID Cliente, Length: 980642, dtype: int64

- Vamos criar agora uma lista com os produtos e as quantidades de vendas dele, caso a gente queira analisar só os produtos (independente de data ou de cliente)

In [5]:
lista_colunas = ['ID Produto', 'Data da Venda', 'Data do Envio', 'Quantidade Vendida', 'Quantidade Devolvida']
lista_produtos = vendas_df[lista_colunas]
lista_produtos

,ID Produto,Data da Venda,Data do Envio,Quantidade Vendida,Quantidade Devolvida
0,981,01/01/2017,02/01/2017,9,1
1,1586,01/01/2017,06/01/2017,9,1
2,1444,01/01/2017,01/01/2017,13,1
3,1468,01/01/2017,01/01/2017,6,1
4,1106,01/01/2017,07/01/2017,4,1
...,...,...,...,...,...
980637,2490,31/12/2017,31/12/2017,120,0
980638,2488,31/12/2017,06/01/2018,120,0
980639,2511,31/12/2017,03/01/2018,80,0
980640,436,31/12/2017,31/12/2017,39,0
980641,2510,31/12/2017,31/12/2017,80,0